<?xml version="1.0"?>
<!-- 
/**
 * @category   Webkul
 * @package    Webkul_Quicklogin
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Webkul_Quicklogin>
            <version>0.1.0</version>
        </Webkul_Quicklogin>
    </modules>
    <frontend>
        <routers>
            <quicklogin>
                <use>standard</use>
                <args>
                    <module>Webkul_Quicklogin</module>
                    <frontName>quicklogin</frontName>
                </args>
            </quicklogin>
        </routers>
        <layout>
            <updates>
                <quicklogin>
                    <file>quicklogin.xml</file>
                </quicklogin>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<quicklogin>
				<use>admin</use>
				<args>
					<module>Webkul_Quicklogin</module>
					<frontName>quicklogin</frontName>
				</args>
			</quicklogin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<quicklogin>
					<file>quicklogin.xml</file>
				</quicklogin>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <quicklogin>
                <class>Webkul_Quicklogin_Model</class>
                <resourceModel>quicklogin_mysql4</resourceModel>
            </quicklogin>
            <quicklogin_mysql4>
                <class>Webkul_Quicklogin_Model_Mysql4</class>
                <entities>
                    <quicklogin>
                        <table>quicklogin</table>
                    </quicklogin>
                </entities>
            </quicklogin_mysql4>
        </models>
        <resources>
            <quicklogin_setup>
                <setup>
                    <module>Webkul_Quicklogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quicklogin_setup>
            <quicklogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quicklogin_write>
            <quicklogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quicklogin_read>
        </resources>
        <blocks>
            <quicklogin>
                <class>Webkul_Quicklogin_Block</class>
            </quicklogin>
        </blocks>
        <helpers>
            <quicklogin>
                <class>Webkul_Quicklogin_Helper</class>
            </quicklogin>
        </helpers>
    </global>
</config>